@(film: Film)

<form action="/film@if(film != null){/@film.id.id}" method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input required name="name" type="text" class="form-control" id="name" placeholder="Name" maxlength="254" value="@if(film != null){@film.name}">
    </div>
    <div class="form-group">
        <label for="genre">Genre</label>
        <input required name="genre" type="text" class="form-control" id="genre" placeholder="Genre" maxlength="254" value="@if(film != null){@film.genre}">
    </div>

    <div class="form-group">
        <label for="year">Year</label>
        <input required pattern="[0-9]*" name="year" class="form-control js-year" id="year" placeholder="Year" value="@if(film != null){@film.year}">
    </div>

    <div class="form-group">
        <label for="rating">Rating</label>
        <select id="rating" required type="radio" name="rating" class="form-control">
            <option value="1"@if(film != null && film.rating==1){ selected="selected"}>1</option>
            <option value="2"@if(film != null && film.rating==2){ selected="selected"}>2</option>
            <option value="3"@if(film != null && film.rating==3){ selected="selected"}>3</option>
        </select>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>