@(filmForm: Form[Film], ratingOptions: List[(String, String)] = List("1" -> "1", "2" -> "2", "3" -> "3")
)(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@import helper._

@helper.form(action = routes.FilmController.save()) {
    <div class="form-group">
        @helper.inputText(filmForm("id"), 'class -> "form-control", 'maxlength -> "254", 'placeholder -> "Id")
    </div>
    <div class="form-group">
        @helper.inputText(filmForm("name"), 'class -> "form-control", 'maxlength -> "254", 'placeholder -> "Name")
    </div>
    <div class="form-group">
        @helper.inputText(filmForm("genre"), 'class -> "form-control", 'maxlength -> "254", 'placeholder -> "Genre")
    </div>

    <div class="form-group">
        @helper.inputText(filmForm("year"), 'class -> "form-control", 'maxlength -> "254", 'placeholder -> "Year")
    </div>

    <div class="form-group">
        @helper.select(filmForm("rating"), ratingOptions, 'class -> "form-control")
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
}